{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="display: grid;place-content: center;height:590px;">
    <center>
        <img src="{% static 'images/cr5.jpg' %}" style="width:1000px;height:200px;margin-top:30px;border-radius: 23px;">
    </center>
    <div style="margin-left:30px;margin-right:30px;">
        <h3 style="color: rgb(233, 245, 246);font-weight: 700;">ABOUT US</h3>
        <p style="color: rgb(243, 245, 245)">Being the consistent leading tertiary care service provider in the Northern
            part of Kerala, for the past 33 years, we are committed to excelling in cutting-edge technologies to
            compassionate patient care and International standard of treatment
            protocols and outstanding outcomes.
            We have introduced various healthcare technologies in our center and have a dedicated team of
            internationally
            qualified doctors specializing in various fields of healthcare. Our well-equipped infrastructure emphasizes
            on patient safety,
            satisfaction and outcomes.</p>

        <p style="color: rgb(255, 255, 255)">
            Our full range of primary specialty care medical services enables cross-specialty consultation, which
            assures outstanding treatment for each
            patient. This high-tech infrastructure over 3.5Lakhs sqft of built-up area spread over 9 acres of land. The
            service of the institution is
            nationally accredited by the National accreditation board for hospitals and healthcare providers [NABH].
            With extensive facilities comprising
            20 super specialty departments, 11 most modern operation theatres, a large intensive care unit, a fully
            computerized and networked hospital
            information system (HIS).a fully digital radiology department, ultra-modern clinical laboratories and 24x7
            emergency department with a

            mobile ICU.
        </p>
    </div>
</div>
{% endblock %}