{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Booking{% endblock %}
{% block content %}
<h5 style="color:rgb(247, 252, 252);text-align:center;margin-top:20px;">MAKE AN APPOINTMENT HERE</h5>
<div
    style="border:2px solid rgb(99, 164, 166);width:50%;padding:20px;text-align:center;margin-left:25%;margin-top:30px;border-radius: 25px;">
    <form action=" " method="POST" style="color:rgb(13, 15, 16)">
        {% csrf_token %}
        {{form|crispy}}
        <br>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
{% endblock %}